spring:
  application:
    name: ms-books-payments
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL:jdbc:mysql://localhost:3306/paymentsdb}
    username: paymentsuser
    password: paymentspass
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8082

eureka:
    client:
        service-url:
          defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
    instance:
        preferIpAddress: true
        hostname: ms-books-payments

getBook:
    url: http://ms-books-catalogue/books/%s
