spring:
  application:
    name: ms-elastic-catalogue
  #datasource:
  #driver-class-name: com.mysql.cj.jdbc.Driver
  #url: ${DB_URL:jdbc:mysql://localhost:3306/booksdb}
  #username: booksuser
  #password: bookspass
  #    hikari:
  #      initialization-fail-timeout: 60000
  #jpa:
  #  show-sql: true
  #  generate-ddl: true
  #  hibernate:
  #    ddl-auto: update
  #  properties:
  #    hibernate:
  #      dialect: org.hibernate.dialect.MySQLDialect
  #      format_sql: true

server:
  port: ${PORT:8081}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:ms-elastic-catalogue}

logging:
  level:
    org.springframework.boot.autoconfigure: warn
    tracer: TRACE

elasticsearch:
  host: ${ELASTICSEARCH_HOST}
  credentials:
    user: ${ELASTICSEARCH_USER}
    password: ${ELASTICSEARCH_PWD}
